<%= simple_form_for([@customer, @project, @task]) do |f| %>
  <%= f.error_notification %>

  <div class="inputs">
    <%= f.input :project_id, :as => :hidden %>
    <%= f.input :description %>
    <%= f.association :stage, :collection => @project.stages if @project.stages.present? %>
    <%= f.input :state, :as => :select, :collection => Task.states_for_select, :include_blank => false %>
    <%= f.input :time_estimate %>
    <%= f.input :assigned_to_id, :collection => User.all %>
  </div>

  <div class="actions">
    <%= f.button :submit %>
  </div>
<% end %>

