<p id="notice"><%= notice %></p>

<p>
  <b>Project:</b>
  <%= @task.project_id %>
</p>

<p>
  <b>Name:</b>
  <%= @task.name %>
</p>

<p>
  <b>State:</b>
  <%= @task.state %>
</p>

<p>
  <b>Time estimate:</b>
  <%= @task.time_estimate %>
</p>

<p>
  <b>Assigned to:</b>
  <%= @task.assigned_to_id %>
</p>

<p>
  <b>Description:</b>
  <%= @task.description %>
</p>


<%= link_to 'Edit', edit_customer_project_task_path(@customer, @project, @task) %> |
<%= link_to 'Back', customer_project_tasks_path(@customer, @project)  %>

