<h1>Listing timeslices</h1>

<table>
  <tr>
    <th>Timetrackable</th>
    <th>Timetrackable type</th>
    <th>Created by</th>
    <th>Description</th>
    <th>Started</th>
    <th>Finished</th>
    <% if can? :read, Timeslice %><th></th><% end %>
    <% if can? :update, Timeslice %><th></th><% end %>
    <% if can? :delete, Timeslice %><th></th><% end %>
  </tr>

<% @timeslices.each do |timeslice| %>
  <tr>
    <td><%= timeslice.timetrackable_id %></td>
    <td><%= timeslice.timetrackable_type %></td>
    <td><%= timeslice.created_by %></td>
    <td><%= timeslice.description %></td>
    <td><%= timeslice.started %></td>
    <td><%= timeslice.finished %></td>
    <% if can? :read, timeslice %><td><%= link_to 'Show', timeslice %></td><% end %>
    <% if can? :update, timeslice %><td><%= link_to 'Edit', edit_timeslice_path(timeslice) %></td><% end %>
    <% if can? :destroy, timeslice %><td><%= link_to 'Destroy', timeslice, :confirm => 'Are you sure?', :method => :delete %></td><% end %>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Timeslice', new_timeslice_path if can? :create, Timeslice %>

