<h1>Listing stakeholders</h1>

<table>
  <tr>
    <th>User</th>
    <th>Role</th>
    <% if can? :update, Stakeholder %><th></th><% end %>
    <% if can? :delete, Stakeholder %><th></th><% end %>
  </tr>

<% @stakeholders.each do |stakeholder| %>
  <tr>
    <td><%= stakeholder.user %></td>
    <td><%= stakeholder.role %></td>
    <% if can? :update, stakeholder %><td><%= link_to 'Edit', edit_customer_project_stakeholder_path(@customer, @project, stakeholder) %></td><% end %>
    <% if can? :delete, stakeholder %><td><%= link_to 'Destroy', customer_project_stakeholder_path(@customer, @project, stakeholder), :confirm => 'Are you sure?', :method => :delete %></td><% end %>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Stakeholder', new_customer_project_stakeholder_path(@customer, @project) if can? :create, Stakeholder %>

