<p id="notice"><%= notice %></p>

<p>
  <b>User:</b>
  <%= @stakeholder.user_id %>
</p>

<p>
  <b>Role:</b>
  <%= @stakeholder.role %>
</p>

<p>
  <b>Project:</b>
  <%= @stakeholder.project_id %>
</p>


<%= link_to 'Edit', edit_customer_project_stakeholder_path(@customer, @project, @stakeholder) %> |
<%= link_to 'Back', customer_project_stakeholders_path(@customer, @project) %>

