<% title @customer.name %>

<div class="main-details">
<p>
  <b>Physical Address:</b>
  <%= @customer.default_unit.physical_address %>
</p>

<p>
  <b>Postal Address:</b>
  <%= @customer.default_unit.postal_address %>
</p>
<% # FIXME: This should be moved into the model %>
<% @customer.default_unit.phone["type"].zip(@customer.default_unit.phone["number"]).reject {|a| a[0].blank? || a[1].blank? }.each do |p| %>
<p>
  <b><%= p[0] %>:</b>
  <%= p[1] %>
</p>

<% end %>
</div>

<div class="units">
<% @customer.units.each do |unit| %>
<div class="unit">
<p>
  <b>Name:</b>
  <%= unit.name %>
</p>

<p>
  <b>Physical Address:</b>
  <%= unit.physical_address %>
</p>

<p>
  <b>Postal Address:</b>
  <%= unit.postal_address %>
</p>

<% unit.phone["type"].zip(unit.phone["number"]).reject {|a| a[0].blank? || a[1].blank? }.each do |p| %>
<p>
  <b><%= p[0] %>:</b>
  <%= p[1] %>
</p>

<% end %>

</div>
<% end %>
</div>

<%= link_to 'Edit', edit_customer_path(@customer) %> |
<%= link_to 'Back', customers_path %>

