<p>
  <b>Unit:</b>
  <%= @ticket.unit.full_name %>
</p>

<p>
  <b>Requested by:</b>
  <%= @ticket.requester %>
</p>

<p>
  <b>Assigned to:</b>
  <%= @ticket.assigned_to %>
</p>

<p>
  <b>Description:</b>
  <%= @ticket.description %>
</p>

<p>
  <b>State:</b>
  <%= @ticket.state.humanize %>
</p>


<%= link_to 'Edit', edit_ticket_path(@ticket) if can? :update, @ticket %> |
<%= link_to 'Back', tickets_path %>

