<h1>Listing contacts</h1>

<% @customer.units.each do |unit| %>

<h3><%= unit.name%></h3>

<table>
  <tr>
    <th>Email</th>
    <% if can? :update, Contact %><th></th><% end %>
    <% if can? :delete, Contact %><th></th><% end %>
  </tr>

<% unit.contacts.each do |contact| %>
  <tr>
    <td><%= contact.user.email %></td>
    <% if can? :update, contact %><td><%= link_to 'Edit', edit_customer_contact_path(@customer, contact) %></td><% end %>
    <% if can? :delete, contact %><td><%= link_to 'Destroy', customer_contact_path(@customer, contact), :confirm => 'Are you sure?', :method => :delete %></td><% end %>
  </tr>
<% end %>
</table>

<% end %>
<br />

<%= link_to 'New Contact', new_customer_contact_path if can? :create, Contact%>

