<h1>New contact</h1>

<%= simple_form_for(@contact, :url => customer_contacts_path(@customer)) do |f| %>
  <%= f.error_notification %>

  <div class="inputs">
    <%= f.association :unit, :collection => @customer.units_for_select %>
    <% unless @customer.users_for_select.blank? %>
      <%= f.association :user, :collection => @customer.users_for_select %>
      <%= "or" unless @customer.users_for_select.blank? %>
    <% end %>
    <%= f.input :full_name %>
    <%= f.input :email %>
    <%= f.input :role %>
  </div>

<%= render 'form', :f => f %>
<% end %>

<%= link_to 'Back', customer_contacts_path(@customer) %>

