  <%= f.error_notification %>

  <div class="inputs">
    <%= f.input :customer_id, :as => :hidden %>
    <%= f.input :created_by, :as => :hidden %>
    <%= f.input :name %>
    <%= f.input :state %>
  </div>

  <div class="actions">
    <%= f.button :submit %>
  </div>

