  <%= f.error_notification %>

  <div class="inputs">
    <%= f.input :customer_id, :as => :hidden %>
    <%= f.input :name %>
    <%= f.input :state, :as => :select, :collection => Project.states_for_select, :include_blank => false %>
  </div>

  <div class="actions">
    <%= f.button :submit %>
  </div>

