<h1>Listing projects</h1>

<table>
  <tr>
    <th>Name</th>
    <th>State</th>
    <% if can? :read, Project %><th></th><% end %>
    <% if can? :update, Project %><th></th><% end %>
    <% if can? :destroy, Project %><th></th><% end %>
  </tr>

<% @projects.each do |project| %>
  <tr>
    <td><%= project.name %></td>
    <td><%= project.state.humanize %></td>
    <% if can? :read, project %><td><%= link_to 'Show', customer_project_path(project.customer, project) %></td><% end %>
    <% if can? :update, project %><td><%= link_to 'Edit', edit_customer_project_path(project.customer, project) %></td><% end %>
    <% if can? :destroy, project %><td><%= link_to 'Destroy', customer_project_path(project.customer, project), :confirm => 'Are you sure?', :method => :delete %></td><% end %>
  </tr>
<% end %>
</table>

<br />
<%= link_to 'New Project', new_customer_project_path(@customer) if @customer.present? && can?(:create, Project) %>

