<h1>Listing <%= @scope %> projects</h1>

<table>
  <tr>
    <th>Customer</th>
    <th>Name</th>
    <th></th>
    <th></th>
  </tr>

<% @projects.each do |project| %>
  <tr>
    <td><%= link_to project.customer, customer_path(project.customer) %></td>
    <td><%= link_to project.name, customer_project_path(project.customer, project) %></td>
    <td><%= link_to 'Edit', edit_customer_project_path(project.customer, project) %></td>
    <td><%= link_to 'Destroy', customer_project_path(project.customer, project), :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

