<p>
  <b>Name:</b>
  <%= @project.name %>
</p>

<p>
  <b>State:</b>
  <%= @project.state.humanize %>
</p>

<% if @project.stages.present? %>
<h3>Stages</h3>
<ul>
<% @project.stages.each do |stage| %>
  <li><%= stage.name %> <%= "(#{stage.time_estimate})" %> <%= stage.deadline %></li>
<% end %>
</ul>
<% end %>

<%= link_to 'Edit', edit_customer_project_path if can? :update, @project %> |
<%= link_to 'Stakeholders', customer_project_stakeholders_path(@customer, @project) %> |
<%= link_to 'Proposal', customer_project_proposal_path(@customer, @project) if can? :read, @project.proposal %> |
<%= link_to 'Back', customer_projects_path %>

