<p>
  <b>Date:</b>
  <%= @proposal.date %>
</p>

<p>
  <b>Version:</b>
  <%= @proposal.version %>
</p>

<p>
  <b>Team:</b>
  <%= @proposal.team_members.collect(&:to_s).join(', ') %>
</p>

<p>
  <b>Hourly rate:</b>
  <%= @proposal.hourly_rate %>
</p>

<p>
  <b>Content:</b>
  <%= @proposal.content %>
</p>

<%= link_to 'Edit', edit_customer_project_proposal_path(@customer, @project) if can? :update, @project.proposal %> |
<%= link_to 'Back', customer_project_path(@customer, @project) if can? :read, @project %>

