<!DOCTYPE html>
<html>
<head>
  <title>Ristretto</title>
  <%= stylesheet_link_tag :all %>
  <%= javascript_include_tag :defaults %>
  <%= csrf_meta_tag %>
</head>
<body class="<%= controller.controller_name %>">
<h1>Ristretto</h1>

<%= render :partial => 'layouts/navigation' %>

<%= show_flash %>

<%= content_tag :h1, yield(:title) if show_title? %>

<%= yield %>

</body>
</html>

