<!DOCTYPE html>
<html>
<head>
  <title>Ristretto</title>
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body class="<%= controller.controller_name %>">
  <header>
    <section id="logo">
      <img src="/assets/logo.png" alt="Egressive Logo" />
    </section>
  </header>

  <%= show_flash %>
  <%= content_tag :h1, yield(:title) if show_title? %>
  <div id="content">
  <%= yield %>
  </div>

</body>
</html>

